<%- include("partials/header"); -%>
<div class="Home-container contact">
  <h1><%=title%></h1>
  <br />
  <br />
  <p><%=content%></p>
<div>
    <form
      action="/posts/<%= encodeURIComponent(title) %>?_method=DELETE"
      method="POST"
    >
      <button type="submit" class="btn-dlt">Delete</button>
    </form>
  </div>
</div>

<%- include("partials/footer"); -%>
